@font-face {
    font-family: "SB Sans Interface";
    src: url("SB Sans Interface Semibold.woff2") format("woff2"), url("SB Sans Interface Semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
