$COLOR_PAGE_BG: #f4f4f5;
$COLOR_FORM_BG: #ffffff;
$COLOR_MODAL_BG: #00000029;

$COLOR_BTN: #5558fa;
$COLOR_BTN_HOVER: #3034fd;
$COLOR_AVATAR: #d5e4f7;
$COLOR_HR: #00000014;

$COLOR_STEPS_ITEM_DONE: $COLOR_BTN;
$COLOR_STEPS_ITEM_EMPTY: #a6a6a6;
$COLOR_STEPS_TEXT: #666666;

$COLOR_SUCCESS: #05ae71;
$COLOR_SUCCESS_LIGTH: #05ae7126;

$COLOR_ERROR: #e84e58;
$COLOR_ERROR_LIGTH: #e84e5826;

//////////////////////////////////////

$FORM_MAX_WIDTH: 900px;
$FORM_MIN_WIDTH: 200px;

$FORM_BRADIUS: 12px;

$FORM_COLOR_LABEL: #333333;

/////////////////////////////////////

$POPUP_MAX_WIDTH: 460px;
$POPUP_MIN_WIDTH: 200px;
$POPUP_PADDING: 32px;
$POPUP_SHADOW: 0px 8px 32px 0px #00000014;

$POPUP_CLOSEBTN_COLOR: #0000000a;
$POPUP_CLOSEBTN_HOVER_COLOR: #00000015;
