$COLOR_PAGE_BG: #f4f4f5;
$COLOR_FORM_BG: #ffffff;
$COLOR_MODAL_BG: #00000029;

$COLOR_BTN: #5558fa;

$COLOR_SUCCESS: #05ae71;
$COLOR_SUCCESS_LIGTH: #05ae7126;

$COLOR_ERROR: #e84e58;
$COLOR_ERROR_LIGTH: #e84e5826;
